* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body, html {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

body p, body h1, body h2, body h3, body a, body span, html p, html h1, html h2, html h3, html a, html span {
  font-family: Roboto,sans-serif;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

body h3, html h3 {
  color: #ABBED7;
  font-size: 32px;
  font-style: normal;
  line-height: 50px;
}

body h2, html h2 {
  color: #5C5C5C;
  font-size: 2.8em;
  margin: 0.5em 0em 0.5em 0em;
}

body p, html p {
  color: #6E6E73;
  text-indent: 0.5em;
  font-size: 2em;
  font-weight: 700;
  line-height: normal;
  text-align: justify;
  line-height: 50px;
}

body a, html a {
  color: #6F7073;
  text-align: center;
  font-size: 1.25em;
  list-style-type: none;
}

body a:hover, html a:hover {
  color: #abbed7;
}

body li, html li {
  color: #FFF;
  font-family: Roboto,sans-serif;
  font-size: 1.6em;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5em;
}

body button, html button {
  cursor: pointer;
}

#app {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #F5F5F7;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80vw;
  margin: 0 auto;
}

.btn {
  width: 250px;
  height: 59.998px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 15px;
  background: #abbed7;
  -webkit-box-shadow: 3px 3px 20px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 3px 3px 20px 0px rgba(0, 0, 0, 0.1);
  border: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.btn:hover {
  background: #6E6E73;
}

.btn.active {
  background-color: white;
  cursor: default;
}
