*
	box-sizing: border-box
body,html
	height: 100%
	width: 100%
	margin: 0
	padding: 0
	overflow-x: hidden
	-ms-user-select: none
	-moz-user-select: none
	-webkit-user-select: none
	user-select: none
	p,h1,h2,h3,a,span
		font-family: Roboto,sans-serif
		font-weight: 700
		line-height: normal
		text-decoration: none
		list-style-type: none
		margin: 0
		padding: 0
	h3
		color: #ABBED7
		font-size: 32px
		font-style: normal
		line-height: 50px
	h2
		color: #5C5C5C
		font-size: 2.8em
		margin: 0.5em 0em 0.5em 0em
	p
		color: #6E6E73
		text-indent: 0.5em
		font-size: 2em
		font-weight: 700
		line-height: normal
		text-align: justify
		line-height: 50px
	a
		color: #6F7073
		text-align: center
		// font-size: 32px
		font-size: 1.25em
		list-style-type: none
		&:hover
			color: rgb(171, 190, 215)
	li
		color: #FFF
		font-family: Roboto,sans-serif
		// font-size: 27px
		font-size: 1.6em
		font-style: normal
		font-weight: 700
		// line-height: 30px /* 111.111% */
		line-height: 1.5em
	button
		cursor: pointer
		font-size: 1.5em
		font-weight: bold
		color: #6E6E73
#app
	min-height: 100vh
	display: flex
	flex-direction: column
	background: #F5F5F7

.container
	display: flex
	flex-direction: column
	width: 80vw
	margin: 0 auto

.btn
	width: 250px
	height: 59.998px
	flex-shrink: 0
	border-radius: 15px
	background: rgb(171, 190, 215)
	box-shadow: 3px 3px 20px 0px rgba(0, 0, 0, 0.10)
	border: none
	transition: 0.2s
	&:hover
		background: rgba(160, 160, 160, 0.902)
.btn.active
	background-color: rgba(255, 255, 255, 0.902)
	cursor: default
